$red: #ffadb6;
$green: #7ff0ba; 
.toogle-1_input, .toogle-2_input{
    display: none;
  }
  
  
  .toogle-2, .toogle-1{
    display: flex;
    margin: auto;
    animation-delay: 2s;
    animation: 1.5s ease-out  1 opacity;
    width: 180px;
    margin-top: 10px;
  
  }
  
  .toogle-1_button{
    background-color: $green;
    border: 1px solid $green;
   
  }
  .toogle-2_button{
  
    background-color: $red;
    border: 1px solid $red;
    
  }
  .toogle-1_button, .toogle-2_button{
    font-size: 1rem;
    line-height: 20px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color:white;
    width: 180px;
    height: 60px;
    transition: all 0.3s ease;
    cursor: pointer;
    
  }
  
  .toogle-1_button::before{
   
    content: 'Start game';
    font-size: 18px;
    color: $red;
  left: 80px;
  background-color: white;
  }
  
  .toogle-2_button::before{
    content: 'Choose pictrues';
    background: white;
    color: $green;
    left: 10px;
    font-size: 14px;
  }
  
  .toogle-1_button::before, .toogle-2_button::before{
    position: absolute;
    border-radius: 10px;
    display: inline-block;
    padding: 0 3px;
    top: 10px;
    width: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    transition: all 0.3s ease;
  
  }

  .startGame_button:hover{
    right: 10px
  }

  .btnPause{
    margin: unset;
  }