$red: #ffadb6;
$green: #3bb84b; 

h2{
    text-align: center;
}

button{
    all: unset;
  
}

.card{

    transition: border 0.5s;
background-color: $red;
width: 250px;
height: 220px;
background-size: cover;
background-repeat: no-repeat;
border-radius: 30px;
background-position: center;
border: 5px solid $red;

}

.selectedCard{
    border: 5px solid $green;
    transition: border 0.5s;
}

.containerSettings{
    max-width: 1500px;
display: flex;
flex-wrap: wrap;
gap: 10px;
margin: auto;
justify-content: center;
}

.containerSettings div{
    width: 100%;
}

.cardGame{
transition: opacity 0.6s;
width: 100%;
opacity: 0;
}

.btnCardGame{
    transition: all 0.3s ease;
    background-color: $red;}



.cardAnimation{
    opacity: 1;
}
.opacity{
    opacity: 0.5;
    animation: opacity 0.3s ease-in;
}

.win{
    // border: 2px solid $green;
    transition: border 0.6s;
}