$red: #ffadb6;
$green: #3bb84b; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-image: linear-gradient(90deg, rgb(166, 218, 245) 36%, rgb(204, 249, 152) 100%);
}
:export {
    green: $green;
   
  }

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    animation: 1000ms ease-out 1 fromLeft;
}
@keyframes fromLeft {
    0% { transform: translateX(1000px); opacity: 0.5;}
    100% { transform: translateX(0); opacity: 1; }
  }


  
button{
    all: unset;
  
}

.card{

    transition: border 0.5s;
background-color: $red;
width: 250px;
height: 220px;
background-size: cover;
background-repeat: no-repeat;
border-radius: 30px;
background-position: center;
border: 5px solid $red;

}

.selectedCard{
    border: 5px solid $green;
    transition: border 0.5s;
}

.containerSettings{
    max-width: 1500px;
display: flex;
flex-wrap: wrap;
gap: 10px;
margin: auto;
justify-content: center;
padding: 20px;
}

.containerSettings div{
    width: 100%;
}

.cardGame{
transition: opacity 0.6s;
width: 100%;
opacity: 0;


height: 100%;
border-radius: 30px;
}

.btnCardGame{
    transition: all 0.3s ease;
    background-color: $red;}



.cardAnimation{
    opacity: 1;
}
.opacity{
    opacity: 0.5;
    animation: opacity 0.3s ease-in;
}

.win{
    // border: 2px solid $green;
    transition: border 0.6s;
}

@for $i from 1 through 10 {
    $randomNum: 200 + floor(random() * ((500 - 200) + 1));
    .card:nth-child(#{$i}) {
    //   animation-delay: ( $i * 1000ms);
    //   animation-name: opacity
      animation: $i*100ms ease-out 1 position;
    }
   
  }
  .containerSettings div{
    animation: 1000ms ease-out 1 position;
    display: flex;

  }
  @keyframes position {
    0% { transform: translateY(1000px); opacity: 0.5;}
    100% { transform: translateY(0); opacity: 1; }
  }

